<!DOCTYPE html>
<html>

<head>
  <style>
    table,
    th,
    td {}

    th,
    td {
      padding: 5px;
    }
  </style>
</head>

<body>

  <table style="width:100%;height:100%;background-color:#F8FAFA">
    <tbody>
      <tr>
        <td style="padding:2em 0%;">
        </td>
      </tr>
      <tr>
        <td>
          <table style="color:#8FA0A0;width:100%;background-color:#FFF;">
            <tr>
              <td style="box-shadow: 0 5px 5px -5px #ddd;text-align:center;border-top:5px solid #333944;">
                <img src="http://res.cloudinary.com/duvhz1xyw/image/upload/v1513873522/logo_ghkv2z.png" style="width:10%">
              </td>
            </tr>
            <tr>
              <td style="padding:1em ">
                Hello {{first_name}},
              </td>
            </tr>
            <tr>
              <td style="padding:1em ">
                <p>
                  Welcome to GSM System! If you enjoyed trialing the demonstration board, please click the following verification link to qualify
                  for six months free use, upon launch of the Advanced Features of the GSM System which will have all the
                  fully developed features.
                </p>
                <p>
                  <a href="{{registration_verification_url}}">Click here and verify your account</a>
                </p>
                <p>
                  Our main goal of the demonstration board is to give you a taste of the upcoming helpful features which are aimed specifically
                  to make your futures trading simple and easy and yet fun. We hope you must have found how simple and easy
                  the complex world of trading futures contracts can be. We are convinced that you will find GSM System with
                  the Advanced Features fun to play with as well.
                </p>
                <p>
                  We will notify you as soon as GSM System with Advanced Features is launched. In the meantime, we will continue to add new
                  helpful features one by one, beginning with functionality that tracks the live markets of GSM System using
                  a combination of trading systems. This feature will allow you to automatically record for your monitoring
                  your daily progress as you place bets.
                </p>
                <p>
                  I would love to hear your feedback which you can provide at any time by replying directly to this email or by filling the
                  contact form on our website. Otherwise I will be in touch whenever we have launched any new features for
                  you to try out.
                </p>
                <br/>
                <p>
                  Thank you again for joining us!
                </p>
              </td>
            </tr>
            <tr>
            </tr>
            <tr>
              <td style="padding:1em ;">
                <p>Kind regards,</p>
                <p>Global Systems Management</p>
                <p>Hidemi Asakura</p>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td style="padding:0 ">
                <table>
                  <tr>
                    <td style="padding-left:0px">
                      <a href="" style="text-decoration:none">
                        <p style="color:#819494;margin:0px;">
                        </p>
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-left:0px">
                      <a href="" style="text-decoration:none">
                        <p style="color:#819494;margin:0px;">
                        </p>
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

</body>

</html>
